.header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #fff;
  width: 100%;
  border-bottom: 1px solid #eee;
}

.header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  
}

.header nav a{
    text-decoration: none;
}

.active{
    color: green;
}

section{
    height: 50vh;
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    color: #eee;
}