.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 98%;
  margin: 10px auto;
  background-color: black;
  color: white;
}

.quicklinks {
  flex: 1;
  width: 100%;
  padding: 20px;
  min-width: 300px;
}

.getintouch {
  flex: 1;
  width: 100%;
  padding: 20px;
  min-width: 300px;
}
.quickcontact {
  flex: 1;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

input,
textarea {
  padding: 5px;
  margin: 2px;
}

h2 {
  color: rgb(182, 149, 5);
}

p {
  font-size: 10px;
}

h4 {
  text-align: center;
  background-color: rgb(182, 149, 5);
  color: white;
  padding: 15px;
  border-radius: 10px;
}
/* button {
  background-color: orangered;
  color: white;
  padding: 10px;
} */
